[Unit]
Description=Shadowsocks

[Service]
TimeoutStartSec=0
Restart=always
RestartSec=3
ExecStart=$HOME/go/bin/shadowsocks-server -c $HOME/config/ss.json

[Install]
WantedBy=multi-user.target
